<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    text-align: center;
}

p {
    text-align: center;
}

li {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

table{
    text-align: center;
    background-color: rgb(221, 101, 118);
    margin-left: auto;
    margin-right: auto;
}
</style>
</head>
<body>

<h1>Squirrels Stats</h1>

<p>When the sightings happen</p>

<table>
  <tr>
    <th>AM</th>
    <th>PM</th>
  </tr>
  <tr>
    <td>{{ AM }}</td>
    <td>{{ PM }}</td>
  </tr>
</table>

<p>The Age of Squirrels</p>

<table>
  <tr>
    <th>Adult</th>
    <th>Juvenile</th>
  </tr>
  <tr>
    <td>{{ Adult }}</td>
    <td>{{ Juvenile }}</td>
  </tr>
</table>

<p>Primary Fur Color of Squirrels</p>

<table>
  <tr>
    <th>Gray</th>
    <th>Cinnamon</th>
    <th>Black</th>
  </tr>
  <tr>
    <td>{{ Grey }}</td>
    <td>{{ Cinnamon }}</td>
    <td>{{ Black }}</td>
  </tr>
</table>

<p>The Location of Squirrels</p>

<table>
  <tr>
    <th>Ground_Plane</th>
    <th>Above_Ground</th>
  </tr>
  <tr>
    <td>{{ Ground_Plane }}</td>
    <td>{{ Above_Ground }}</td>
  </tr>
</table>

<li><a href='/sightings/stats/pie_graph'>Visualize it!!!</a></li>

<li><a href='/sightings/stats/bar_graph'>Learn more about squirrel activities</a></li>

</body>
</html>


